* {
    margin: 0;
    padding: 0;
}

html, body, .container {
    height: 100%;
}

body {
    overflow: hidden;
}
.page {
    height: 100%;
    width: 100%;
    position: absolute;
    float:left;
    display: none;
    top: 0;
    left: 0;
}
.page.page-active {
    display: block;
}
#login {
    background-color: #F06;
}
#registration {
    background-color: #6F0;
}